@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
    max-width: 1000px;
    margin: 0;
    padding: 0 20px;
}
h1 {
    font-size: 40px;
    text-align: center;
}
.img {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100%;
}
.content {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 100px;
}
a {
    text-decoration: none;
    color: #0066cc;
}
a:hover {
    text-decoration: underline;
}
.h2s {
    text-align: center;
    font-size: 35px;
}
