@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://egemen.kz/media/2020/05/05/unnamed-3.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
    max-width: 1000px;
    margin: 0;
    padding: 0 20px;
}
h1 {
    font-size: 40px;
    text-align: center;
}
.img {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100%;
}
.imgqr {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
}
a {
    text-decoration: none;
    color: #0066cc;
}
a:hover {
    text-decoration: underline;
}
.h2s {
    text-align: center;
    font-size: 35px;
}
